// 右边的主框架
.c-main {
	height: 100%;
	padding: 20px;
	background: #fff;
	overflow-y: auto;
	border:1px solid @border-color;
}

.primary-color { color: @brand-primary; }

.warn-color { color: @brand-warning; }

.primary-bg { background: @brand-primary; }

.warn-bg { background: @brand-warning; }
